[graph]
all-features = true

[advisories]
unmaintained = "workspace"
yanked = "warn"
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "deny"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"
allow = []
deny = []
skip = []
skip-tree = []

[licenses]
allow = [
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "MIT",
  "MPL-2.0",
  "Unicode-3.0",
  "Unlicense",
]
confidence-threshold = 0.8
exceptions = []

[licenses.private]
ignore = true
registries = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
gitlab = []
bitbucket = []
